@import "./variablesLR.css";

.Login {
  width: var(--width-full);
  height: var(--height-90vh);
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  align-items: var(--align-items-center);
  justify-content: var(--justify-content-center);
}

.form-container {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  align-items: var(--align-items-center);
  justify-content: var(--justify-content-center);
  border: var(--border-1px-solid);
  padding: var(--padding-20px);
  border-radius: var(--border-radius-8px);
  box-shadow: var(--box-shadow);
  width: var(--width-50);
  height: var(--height-50);
  background-color: var(--background-color-white);
}

.form {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  align-items: var(--align-items-center);
  justify-content: var(--justify-content-center);
  width: var(--width-full);
  height: var(--height-full);
}

.label {
  width: var(--width-75);
  text-align: var(--text-align-left);
  margin-bottom: var(--margin-bottom-10px);
}

.input {
  width: var(--width-70);
  padding: var(--padding-10px);
  margin-bottom: var(--margin-bottom-10px);
  border: var(--border-1px-solid);
  border-radius: var(--border-radius-5px);
  background-color: var(--background-color-white);
}

.button {
  padding: var(--padding-10px) var(--padding-20px);
  background-color: var(--background-color-black);
  color: var(--color-white);
  border: var(--border-none);
  border-radius: var(--border-radius-5px);
  cursor: var(--cursor-pointer);
  transition: background-color var(--transition-0.3s);
  width: var(--width-75);
}

.link {
  text-decoration: none;
  color: var(--color-link);
  transition: color var(--transition-0.3s);
  margin-top: var(--margin-top-10px);
  margin-bottom: var(--margin-bottom-10px);
}

/* Dispositivos móviles pequeños */
@media (min-width: 320px) and (min-width: 480px) {
  .form-container {
    width: 100%;
    height: auto;
    padding: var(--padding-10px);
  }
  .input,
  .button {
    width: 100%;
  }
}

/* Dispositivos móviles grandes */
@media (min-width: 481px) and (max-width: 768px) {
  .form-container {
    width: 90%;
    height: auto;
    padding: var(--padding-15px);
  }
  .input,
  .button {
    width: 90%;
  }
}

/* Tablets y dispositivos móviles grandes en modo horizontal */
@media (min-width: 769px) and (max-width: 1024px) {
  .form-container {
    width: 80%;
    height: auto;
    padding: var(--padding-20px);
  }
  .input,
  .button {
    width: 80%;
  }
}

/* Laptops y pantallas de escritorio pequeñas */
@media (min-width: 1025px) and (max-width: 1200px) {
  .form-container {
    width: 70%;
    height: auto;
    padding: var(--padding-20px);
  }
  .input,
  .button {
    width: 70%;
  }
}

/* Pantallas de escritorio grandes */
@media (min-width: 1201px) {
  .form-container {
    width: 60%;
    height: auto;
    padding: var(--padding-20px);
  }
  .input,
  .button {
    width: 60%;
  }
}
